services:
  wallet-backend:
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    ports:
      - "8002:8080"
    volumes:
      - "./configs/config.yaml:/app/configs/config.yaml"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/status"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 60s
      start_interval: 5s
